extends layout

block content
  div.center.fullHeight
    img.flo(src="images/flo.svg")
    h1 Segwit Activation Status

    h3 Latest block height: #{getBlockchainInfo.blocks}
    h3
      span Segwit is
      span.green &nbsp;ACTIVE
      span &nbsp;since block: #{getBlockchainInfo.bip9_softforks.segwit.since}